body {
    font-family: Arial, sans-serif;
    background-color: #6b6969;
    margin: 0;
    padding: 0;
}
.contenedor{
     width: 750px;
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,1);}
h1{
    text-align: center;
    color: #1f2d3d;
    margin-bottom: 5px;
}
h2{
     border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #2c3e50;
}
p{
    font-size: 16px;
    line-height: 1.6;
}
img{
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    border: 4px solid #2c3e50;
}
form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}
form button {
    width: 100%;
    padding: 14px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
form button:hover {
    background-color: #1a242f;
}